@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Orbitron:wght@400;500;700;800;900&family=Poppins:wght@200;400;500;700;900&family=Raleway:wght@200;400;500;700;800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
:root{
  --bg-color: #212529;
  --text-color: #fff;
  --secondary-bg-color: #313f49;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* .container {
  max-width: 1180px;
  margin: auto;
  min-height: 100vh;
} */
p {
  margin: 0;
}

ul {
  list-style: circle;
  margin: 0;
}
.canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  padding: 1rem;
}

form {
  max-width: 500px;
}



#height,
#weight {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  /* outline: none; */
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  background-color: transparent;
  color: var(--text-color);
}

#results span {
  font-size: 2.5rem;
}
#results p {
  font-size: 1.2rem;
}

#weight-guide{
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--secondary-bg-color);
}



/* Animation */
@keyframes error {
  
  25%{
    transform: translateX(10px);
  }
  50%{
    transform: translateX(-10px);
  }
  75%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(0px);
  }
}